*,html,body{
    margin: 0;
    padding: 0;;
}

header{
    background-color: skyblue;
    height: 100px;
    line-height: 112px;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
.nav2{
    float: right;
    
}
.logo{
    margin-top: 0px;
}
header nav ul li a {
    padding-right: 30px;
    font-weight: hold;
    color: white;
    transition: all 0.5s ease-in;
}

header nav ul li a:hover{
    text-decoration: none;
    color: red;
}